body {
    background: fixed;
    background-color: chocolate;
}
h1 {
    font-size: x-large;
    font-family: 'Franklin Gothic Medium';
}
p {
    font-size: x-large;
    font-family: 'Franklin Gothic Medium';
}
div {
    font-size: x-large;
    font-family: 'Franklin Gothic Medium';
}